<!DOCTYPE html>
<html lang="en" class="{{ name | lowercase }}">
	<head>
		<title>{{ title }}</title>
		<meta name="description" content="{{ description }}">
		<link rel="stylesheet" href="/style.css" type="text/css" media="screen">
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body class="{{ name | lowercase }}">
		<nav>
			{%- for navItem in collections.mainNav %}
				<a href="{{ navItem.url }}" class="nav {%- if page.url == navItem.url %} current{%- endif -%}">{{ navItem.data.name lowercase }}</a>
			{%- endfor %}
		</nav>
		<main id="maincontent">
			{{ content }}
		</main>
		<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "1f2813b1d9404b1b9c665a208fb12e95"}'></script><!-- End Cloudflare Web Analytics -->
	</body>
</html>